# Due to PyQt complexity within virtualenvs, indicate non-python environment and manually configure it
language: cpp

# Travis can be used to build for both Linux and OS X
os:
  - osx
  - linux

# Ensure we are running on 14.04 instead of 12.04 on the Ubuntu side
sudo: required
dist: trusty

before_install:
  # OS extra info
  - uname -a
  - python --version
  - python -c "import struct; print(struct.calcsize('P') * 8)"

  # Install Python 3, pip3, PyQt and PyInstaller in the respective OS
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then bash package/install_osx.sh; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then bash package/install_linux.sh; fi

  # Check everything was correctly installed (linux python path from sudo env)
  - echo $PATH
  - sudo echo $PATH
  - sudo python3 --version
  - sudo python3 -c "import struct; print(struct.calcsize('P') * 8)"
  - sudo pip3 --version
  - sudo python3 -c "import PyQt5"
  - pyinstaller --version

# Build Mu and time stamp it
install:
  - sudo pip3 install -r requirements.txt

# Run the test suit and build the executable with the time stamp in its file name
script:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then make check; fi
  - pyinstaller package/pyinstaller.spec
  - du -sk dist/
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then mv dist/mu dist/mu-$(date '+%Y-%m-%d_%H_%M_%S'); fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then cd dist && zip --symlinks -r mu-$(date '+%Y-%m-%d_%H_%M_%S').zip mu.app && rm -r mu.app && rm mu && cd ..; fi

# Deploy the build version in an S3 bucket
deploy:
  provider: s3
  access_key_id: AKIAJYJV7NN6HVHCX5NQ
  secret_access_key:
    secure: QHLfRUdFQX+TejhRBkgNvySkaQOskXji+iduIvKRtzvvhyr3QJHKcMNtO426GRFyKhz6sK3shqn4d5iu/m03gtbv+u1pL9pp0J2GEePzQVP8v24q9Y3oxaXaA7Tm7L2vSIrB7uhJvG5D9H0bVL9my61JvXhvySH47jLvhqHH4F9LdPzby1DXds1Z+R4YNMKE0Z4KmNOhiBHkmKdDcp61fZ91gGiScFIjaXvDb50zdGKjXTQy2t4OtFt4kVbTZWijzxKPCSLZkErfcdNNrCNeMEktk6IEV2KVru9XhDNzzslWwwsR1r2hQI39oVULa3fYXK6W7am8WXVZ6cnJB+yBsNWro3Tp5oiNCWSe6fKDEp+Io+qyhZ+R5PSdzhyRYPUHPCIY/fP/dap/4M/MAO3hZFA3mxjK/vUOc6mtMD/wTE659K4/i7PNYtKFndXXpLpYHHaTis44NLZFIxvs9wWG/ljToYDDK20vG317k5TZUZB/6EipW1DeoO/9qBUxgTdfJypp58kcZNvntUVa4ezf/Bx01ZCMFAk234l7+xAFYI7+m9ITqAPlKWI230Ki5ShzyV+kYcI/GS9cT75iok6+zIWWfyQhKUMDYZ1qb/UDM5Gz9RXoIah0UJTjFd4b3bO6Awdrs2V5Vv2EgMWuKDaHs1s3uONH+PGTluROuqFju/s=
  bucket: ardublockly-builds
  skip_cleanup: true
  local-dir: dist/
  upload-dir: microbit/$TRAVIS_OS_NAME
  acl: public_read
  on:
    repo: ntoll/mu
    branch: [master, travis, local_settings]

notifications:
  email:
    on_success: change
    on_failure: change
