# You also need to apt-get install the packages listed in https://mu.readthedocs.io/en/latest/setup.html#raspberry-pi
appdirs
beautifulsoup4
black
coverage
guizero
pigpio
matplotlib
nudatus
qtconsole
Pillow
pycodestyle
pyflakes
pyserial
pytest
pytest-cov
pytest-random-order
requests
scrapy
setuptools
sphinx