appdirs
beautifulsoup4
coverage
gpiozero
guizero
matplotlib
qscintilla
qtconsole
pgzero
pigpio
Pillow
pycodestyle
pyflakes
pynsist
pyqt5
PyQtChart
pyserial
pytest
pytest-cov
pytest-random-order
requests
scrapy
setuptools
sphinx
twine
wheel
nudatus
