# Requirements needed for ReadTheDocs to build the project documentation.
appdirs
beautifulsoup4
black; python_version > '3.5'
coverage
flask
gpiozero
guizero
matplotlib
nudatus
qscintilla; "arm" not in platform_machine
qtconsole
pgzero
pigpio
Pillow
pycodestyle
pyflakes
pynsist; sys_platform == "win32"
pyqt5; "arm" not in platform_machine
PyQtChart; "arm" not in platform_machine
pyserial
pytest
pytest-cov
pytest-random-order>=1.0.0
requests
semver
scrapy
setuptools
simplegeneric
sphinx
twine
wheel
