[Desktop Entry]
Type=Application
Name=mu
GenericName=A Python editor for beginner programmers 
Comment=A Python editor for beginner programmers
Icon=mu.codewith.editor
TryExec=mu
Exec=mu %F
Terminal=false
Categories=Application;Development;
Keywords=Python;Editor;microbit;micro:bit;
StartupWMClass=mu
MimeType=text/x-python3;text/x-python3;
