[Desktop Entry]
Type=Application
Name=mu
GenericName=A micro Python editor for microbit
Comment=A micro Python editor
Icon=mu
TryExec=mu
Exec=mu
Terminal=false
Categories=Application;Development;
Keywords=Python;Editor;microbit;micro:bit;

