[Desktop Entry]
Type=Application
Name=mu
GenericName=A Python editor for beginner programmers 
Comment=A Python editor for beginner programmers
Icon=mu
TryExec=mu
Exec=mu
Terminal=false
Categories=Application;Development;
Keywords=Python;Editor;microbit;micro:bit;
StartupWMClass=mu
