Source: mu
Section: python
Priority: optional
Maintainer: Serge Schneider <serge@raspberrypi.org>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://codewith.mu/
X-Python3-Version: >= 3.2

Package: mu
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: A simple editor for beginner programmers
 A very simple code editor for kids, teachers and beginner programmers.
 It's written in Python and works on Windows, OSX, Linux and Raspberry Pi.
