QToolBar, QToolButton {
    background: transparent;
    margin: 0;
    border: none;
    padding: 0;
}

QToolButton {
    padding: 4px 2px;
}

QToolButton:hover {
    background: #666;
    color: yellow;
}

QStackedWidget, QWidget, QApplication, QLabel, QStatusBar, QTabBar {
    background-color: black;
    color: white;
}

QDialog, QTextEdit {
    background-color: black;
    color: white;
    border: 1px solid white;
}

QTabBar {
    border: none;
    background: black;
}

QTabBar::tab, QListWidget::item:hover, QListWidget::item:focus {
    background: #3b3b3b;
    border: none;
    padding: 4px 8px;
    margin: 0;
}

QTabBar::tab::hover, QListWidget::item::selected  {
    background: #666;
    border: none;
    padding: 4px 8px;
    margin: 0;
}

QTabBar::tab::selected {
    background: #555;
    border: none;
    padding: 4px 8px;
    margin: 0;
}

QTabWidget::pane {
    border: none;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

QsciScintilla {
    border: none;
}

QListWidget {
    background-color: black;
    color: white;
    border: 1px solid white;
}

QListWidget::item:selected, QListWidget::item:hover, QListWidget::item:focus {
    padding: 0;
    color: white;
}

QMessageBox {
    border: 1px solid white;
}

QStatusBar QLabel {
    padding: 2px;
    margin: 0;
}

QStatusBar QLabel:hover, QStatusBar QLabel:focus {
    background: #666;
}
