QToolBar, QToolButton {
    background: transparent;
    margin: 0;
    border: none;
    padding: 0;
}

QToolButton {
    padding: 4px 2px;
}

QToolButton:hover {
    background-color: #cccccc;
}

QStackedWidget, QWidget, QApplication, QDialog, QLabel, QStatusBar, QTabBar {
    background-color: #EEE;
    color: black;
}

QTextEdit, QPlainTextEdit {
    background-color: white;
    color: black;
    border: none;
}

QTabBar {
    border: none;
}

QTabBar::tab {
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
}

QTabBar::tab, QListWidget::item:selected, QListWidget::item:focus {
    background: #c4c4c4;
    padding: 4px 8px;
    margin: 0;
}

QTabBar::tab::hover, QListWidget::item::hover {
    background: #d4d4d4;
    padding: 4px 8px;
    margin: 0;
}

QTabBar::tab::selected {
    background: #eeeeee;
    padding: 4px 8px;
    margin: 0;
}

QTabWidget::pane {
    border: none;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}

QsciScintilla {
    border: none;
}

QListWidget {
    background-color: white;
    color: black;
}

QListWidget::item:selected, QListWidget::item:hover, QListWidget::item:focus {
    padding: 0;
    color: black;
}

QStatusBar QLabel {
    padding: 2px;
    margin: 0;
}

#AdministrationLabel:hover, #AdministrationLabel:focus {
    background: #cccccc;
}
