QStackedWidget, QWidget, QApplication {
    background-color: black;
    color: white;
}

QDialog, QLabel, QStatusBar {
    background-color: #333;
    color: white;
}

QToolButton:hover {
    color: #FF0000;
}

QToolButton {
    background-color: #333;
}

QTextEdit {
    background-color: black;
    border:3px solid #FFF;
    color: white
}

QTabBar::tab {
    color: #999;
    background: #333;
    border: 1px solid #CCC;
    padding: 6px 10px;
}

QTabBar::tab:selected {
    color: black;
    background: #CCC;
}

QTabBar::tab:!selected {
    color: white;
    background: #111;
}

QSplitter::handle:horizontal {
    background: #333;
}

QToolBar {
    background: #333;
    border: 0;
}

QMessageBox {
    font-size: 14pt;
    border: 3px solid white;
}

QPushButton {
    background: #fff;
    color: #000;
}

QTabWidget::pane {
    border: 1px solid white;
}

QListWidget {
    border: 1px solid white;
}

QListWidget::item:selected {
    background: #444;
}
