QStackedWidget, QWidget, QApplication {
    background-color: black;
    color: white;
}

QToolButton:hover {
    color: #FF0000;
}

QToolButton {
    background-color: #333;
}

QTextEdit {
    background-color: black;
    border:3px solid #FFF;
    color: white
}

QTabBar::tab {
    color: white;
}

QTabBar::tab:selected {
    background: #333;
}

QTabBar::tab:!selected {
    background: black;
}

QSplitter::handle:horizontal {
    background: #333;
}

QToolBar {
    background: #333;
    border: 0px;
}
