name: Build Mu

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    strategy:
      matrix:
        os: [macos-10.15, windows-2016]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Display Python info
        run: |
          python -c "import sys; print(sys.version)"
          python -c "import platform, struct; print(platform.machine(), struct.calcsize('P') * 8)"
          python -c "import sys; print(sys.executable)"
          python -m pip --version
          pip --version
          pip config list
          pip freeze
      - name: Install Mu dependencies
        run: |
          pip install .[dev]
          pip list
      - name: Build Windows
        if: runner.os == 'Windows'
        run: |
          python make.py win32
          python make.py win64
      - name: Build macOS
        if: runner.os == 'macOS'
        run: |
          make macos
          mkdir dist
          mv macOS/mu-editor.app dist/
      - name: Upload Mu installer
        uses: actions/upload-artifact@v1
        with:
          name: mu-editor-${{ runner.os }}-${{ github.sha }}
          path: dist
