name: Run tests

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  test:
    timeout-minutes: 30
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-latest, macos-11, macos-latest, windows-2019, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Test Py ${{ matrix.python-version }} - ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python info
        run: |
          python -c "import sys; print(sys.version)"
          python -c "import platform, struct; print(platform.machine(), struct.calcsize('P') * 8)"
          python -c "import sys; print(sys.executable)"
          python -m pip --version
          pip --version
          pip config list
          pip freeze
      - name: Prepare Ubuntu
        if: runner.os == 'Linux'
        # This is needed for PyQt6 to not crash with missing: libEGL.so.1 libGL.so.1 libglib-2.0.so.0
        run: |
          sudo apt update
          sudo apt install -y libegl1 libgl1 libglib2.0-0
      - name: Install Mu dependencies
        run: |
          pip install .[dev]
          pip list
        timeout-minutes: 10
      - name: Run tests
        if: runner.os == 'Linux'
        run: QT_QPA_PLATFORM=offscreen python make.py check
        timeout-minutes: 5
      - name: Run tests
        if: runner.os != 'Linux'
        run: python make.py check
        timeout-minutes: 5

  test-arm:
    # Missing Qt6 versions of: python3-pyqt5.qsci python3-pyqt5.qtchart
    # Using pip --use-deprecated=legacy-resolver, as it takes too long, revisit after updating dep versions
    # Also had to force install cryptography, pyzmq, and cffi from piwheels, or it tries to build them from source
    # Should also revisit if we need all the extra apt packages
    if: false
    runs-on: ubuntu-latest
    name: Test Py 3.10 - arm-debian-bookworm
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2
        with:
          image: tonistiigi/binfmt:latest
          platforms: 'linux/arm64,linux/arm/v7,linux/arm/v6'
      - name: Check Debian image info
        uses: docker://arm32v7/debian:bookworm
        with:
          args: bash -c "uname -a && cat /etc/os-release"
      # This is testing armv7, we could create a matrix for armv8 (aarch64) as well
      - name: Install dependencies and run tests
        uses: docker://arm32v7/debian:bookworm
        with:
          args: >
            bash -c "
              apt update &&
              apt install -y python3 python3-pip python3-virtualenv &&
              apt install -y python3-pyqt6 python3-pyqt6.qtserialport python3-pyqt6.qtsvg &&
              apt install -y libxmlsec1-dev libxml2 libxml2-dev libxkbcommon-x11-0 libatlas-base-dev &&
              python3 -m virtualenv venv --python=python3 --system-site-packages &&
              source venv/bin/activate &&
              python -c \"import platform, struct, sys; print(platform.machine(), struct.calcsize('P') * 8, sys.version)\" &&
              python -m pip --version &&
              python -m pip config set global.extra-index-url https://www.piwheels.org/simple &&
              python -m pip config list &&
              python -m pip list &&
              python -m pip install cryptography pyzmq cffi --python-version 3.9 --only-binary \":all:\" --no-deps --target venv/lib/python3.10/site-packages/ &&
              python -m pip install .[dev] --use-deprecated=legacy-resolver &&
              python -m pip list &&
              QT_QPA_PLATFORM=\"offscreen\" &&
              python make.py check &&
              echo 'Finished successfully! :)'
            "

  test-pios:
    # Pi OS images don't have python3-pyqt6 packages, so will have to enable and update in the future
    if: false
    name: Test PiOS ${{ matrix.docker-tag }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-tag: ['buster-2021-05-28', 'buster-legacy-2022-04-07']
      fail-fast: false
    services:
      rpios:
        # Custom made images for Mu: https://github.com/carlosperate/docker-qemu-rpi-os
        image: ghcr.io/carlosperate/qemu-rpi-os-lite:${{ matrix.docker-tag }}-mu
        ports: ["5022:5022"]
    steps:
      # This delay is a bit hacky, but can't find a way to signal when OS is ready
      - name: Wait 2m30s for the docker image to start up QEMU and Raspberry Pi OS
        run: sleep 150
      - name: Clone project & setup it as the bash entry directory
        uses: appleboy/ssh-action@master
        with:
          host: rpios
          username: pi
          password: raspberry
          port:  ${{ job.services.rpios.ports[5022] }}
          script: |
            mkdir ~/mu && cd ~/mu
            git init
            git remote add origin ${{ github.server_url }}/${{ github.repository }}.git
            git fetch --progress --depth=1 origin ${{ github.sha }}
            git checkout --progress FETCH_HEAD
            echo "cd ~/mu" > ~/.bashrc_new && cat ~/.bashrc >> ~/.bashrc_new
            rm ~/.bashrc && mv ~/.bashrc_new ~/.bashrc
      - name: Install Mu extra apt dependencies
        uses: appleboy/ssh-action@master
        with:
          host: rpios
          username: pi
          password: raspberry
          port:  ${{ job.services.rpios.ports[5022] }}
          script: |
            sudo apt-get update
            sudo apt-get install -y python3-virtualenv
      - name: Create venv and install Python dependencies
        uses: appleboy/ssh-action@master
        with:
          host: rpios
          username: pi
          password: raspberry
          port:  ${{ job.services.rpios.ports[5022] }}
          command_timeout: 20m
          script: |
            python3 -m virtualenv ~/mu/.venv -v --python=python3 --system-site-packages
            echo "source ~/mu/.venv/bin/activate" > ~/.bashrc_new && cat ~/.bashrc >> ~/.bashrc_new
            rm ~/.bashrc && mv ~/.bashrc_new ~/.bashrc
            source .venv/bin/activate
            python -m pip list
            python -m pip install ."[dev]"
      - name: Environment info
        uses: appleboy/ssh-action@master
        with:
          host: rpios
          username: pi
          password: raspberry
          port:  ${{ job.services.rpios.ports[5022] }}
          script: |
            uname -a
            cat /etc/os-release
            python3 -c "import platform as p, sys; print(sys.executable, p.architecture(), p.machine(), sys.version, sep='\n')"
            python3 -m pip --version
            python3 -m pip list
      - name: Run tests
        uses: appleboy/ssh-action@master
        with:
          host: rpios
          username: pi
          password: raspberry
          port:  ${{ job.services.rpios.ports[5022] }}
          command_timeout: 30m
          script: xvfb-run python make.py check
